@import url('https://fonts.googleapis.com/css?family=Inter:300,600,800,900.css');
@import 'colors.less';

#app-root-2025-trade_deficit .app {
  background-color: #f4f9fd;
  color: #222;
  font-family: Inter, Helvetica, Arial, sans-serif;
  margin: auto auto;
  max-width: 700px;
  padding: 10px;
  transition: opacity 1s ease;
  .title_container {
    margin-bottom: 20px;
    padding-left: 55px;
    position: relative;
    &:before {
      background-image: url(https://static.dwcdn.net/custom/themes/unctad-2024-rebrand/Blue%20arrow.svg);
      content: '';
      display: block;
      height: 44px;
      left: 0;
      position: absolute;
      top: 10px;
      width: 44px;
    }
    h3 {
      color: #000;
      font-size: 30px;
      font-weight: 800;
      line-height: 34px;
      margin: 0 0 5px 0;
    }
    h4 {
      color: rgba(0, 0, 0, 0.8);
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      margin: 0;
    }
  }
  .wrapper {
    color: #222;
    text-align: center;
    .infographic {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .comparison-row {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        padding-bottom: 20px;
        &:first-child {
          border-bottom: 4px solid #ffcb05;
        }
        .countries {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 20px;
          .number {
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            &.bigger {
              font-size: 70px;
              font-weight: 900;
              line-height: 70px;
            }
          }
          .label {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
          }
        }
        .middle-arrow {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 10px;
          img {
            animation: slideRight 0.6s ease-out 0.5s forwards;
            height: auto;
            transform: translateX(-15px);
            width: 60px;
          }
          @keyframes slideRight {
            50% {
              transform: translateX(-10px);
            }
            100% {
              transform: translateX(0);
            }
          }
          @media all and (max-width: 500px) {
            display: none;
          } 
        }
        .chart-container {
          svg {
            height: 150px;
            margin-top: 5px;
            width: 150px;
            text {
              dominant-baseline: middle;
              fill: #222;
              tspan {
                font-size: 8px;
                font-weight: 700;
                &.bigger {
                  font-size: 10px;
                  font-weight: 900;
                }
              }
            }
          }
          .label {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .note,
  .source {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
  }
}

@import 'basics.less';